@charset "UTF-8";



#regPtag {
	font-size: 3.5rem;
	text-align: center;
	color: #6667AB;
}


.logo {
	margin-top: 0px;
	margin-bottom: 40px;
	color: #6667AB;
	font-size: 90px;
	font-weight: 900;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px 0px;
	margin: auto;
}

#searchZip {
	font-size: 16px;
}

#zipcode {
	width: 25%;
	float: left;
	font-size: 16px;
	padding: 0.2rem;
}

.addr {
	width: 100%;
	font-size: 16px;
	padding: 0.2rem;
}

#btnOverlapped {
	border: none;
	background-color: white;
	font-size: 16px;
	color: #6667AB;
}

.register {
	width: 400px;
	text-align: center;
} 
.fixed_join {
	margin: 30px;
	padding: 10px 10px;
	border: 2px solid lightgray;
	border-radius: 3px;
}

#member_id {
	width: 100%;
	border: none;
	outline: none;
	font-size: 16px;
	height: 25px;
	background: none;
}

.member_pw {
	width: 100%;
	border: none;
	outline: none;
	font-size: 16px;
	height: 25px;
	background: none;
}

#member_name {
	width: 100%;
	border: none;
	outline: none;
	font-size: 16px;
	height: 25px;
	background: none;
}

#email {
	width: 100%;
	border: none;
	outline: none;
	font-size: 16px;
	height: 25px;
	background: none;
}

#member_phone {
	width: 100%;
	border: none;
	outline: none;
	font-size: 16px;
	height: 25px;
	background: none;
}

#member_birth {
	width: 100%;
}

#member_gender {
	font: 16px;
}

#registerBtn {
	width: 87%;
	height: 40px;
	border: none;
	background-color: #6667AB;
	color: white;
	font-size: 20px;
	margin-bottom: 40px;
	border-radius: 3px;
	font-weight: bold;
	display: inline;
}

/*date placeholder*/
input[type='date']::before {
	content: attr(data-placeholder);
	width: 100%;
}

input[type='date']:focus::before, input[type='date']:valid::before {
	display: none;
}

/*number updown hidden*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}